<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <header id="header" role="header">
            <ul id="nav" role="navigation">
                <li><a href="{{ path('blog') }}">Blog</a></li>
            </ul>
        </header>
        <!-- / #header -->

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
