{% set date_format = 'j/n Y, H:i' %}

<p>
    Written by {{ post.author|title }}
    {% if post.publishedAt is not empty %} 
        on
        {{ post.publishedAt|date(date_format) }}
    {% endif %}
</p>

<p>
    {{ post.content }}
</p>