{% extends "::base.html.twig" %}

{% block title -%}

	Blog

{%- endblock %}

{% block body %}

	<h1>Latest blog entries</h1>

	{% for post in posts %}

		<article class="post">
			<h1>{{ post.title|title }}</h1>
            <p>Written by {{ post.author|title }}</p>
            <p>
                {{ post.content }}
            </p>
		</article>
        <!-- / .post -->

	{% endfor %}

{% endblock %}