{% extends "::base.html.twig" %}

{% block title -%}

    {{ post.title|title }} by {{ post.author|title }}

{%- endblock %}

{% block body %}

    <h1>{{ post.title|title }}</h1>

    {% 
        include "SymfonyDayBlogBundle:Default:details.html.twig" with {
            'post': post
        } only
    %}

{% endblock %}